.title {
    color: white;
    background-color: hsl(0, 100%, 85%);
    font-size: 100px;
    font-weight: bold;
    text-align: left;
    text-indent: 20px;

}

img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.content {
    color: #663300;
    font-size: 22px;
    text-align: justify;
    text-indent: 20px;
}

.subtitle {
    background-color: hsl(0, 100%, 85%);
    margin: auto;
    margin-top: 50px;
    width: 200px;
    padding: 15px;
    text-align: center;
    color: white;
}