div {
    background-color:hsl(12, 100%, 75%) ;
}




.title {
    color: white;
    font-family: "Abel", "Courier New", monospace  ;
    font-size: 200px;
    font-weight: bold;
    text-align: left;
}

img {
    height: auto;
    width: 800px
}

.list .link {
    color: rgb(255, 255, 255);
    font-family: "Abel", "Courier New", monospace;
    font-size: 100px;
    text-align: justify;
}