.title {
    color: white;
    background-color: hsl(0, 100%, 85%);
    font-family: "Abel", "Courier New", monospace  ;
    font-size: 150px;
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right:auto;
    width: 80%;
    
}

.list .link {
    color: #663300;
    font-family: "Abel", "Courier New", monospace;
    font-size: 40px;
    text-align: center;
}

.center {
    background-color: hsl(0, 100%, 85%);
    margin: auto;
    width: 400px;
    padding: 15px;
}